<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!-- JSure Assurance perspective -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="JSure"
			      icon="platform:/plugin/com.surelogic.common/src/com/surelogic/common/images/plus.gif"
            class="com.surelogic.jsure.perspectives.JSurePerspective"
            id="com.surelogic.jsure.perspectives.JSurePerspective">
      </perspective>
   </extension>
   
   <extension point="org.eclipse.ui.actionSets">
			<actionSet label="JSure ActionSet" visible="true"
				id="com.surelogic.jsure.client.eclipse.workbenchActionSet">
				<menu id="com.surelogic.jsure.client.eclipse.workbenchMenu"
					label="JSure" path="additions">
	
					<groupMarker name="client" />
					<separator name="server" />
					<separator name="additions" />
				</menu>

				<action
					class="com.surelogic.jsure.client.eclipse.actions.ClearDropSeaAction"
					id="com.surelogic.jsure.client.eclipse.actions.ClearDropSeaAction"
					icon="platform:/plugin/com.surelogic.common/src/com/surelogic/common/images/red_x.gif"
					label="Nuke Drop-Sea"
					tooltip="Invalidate most drops"
					menubarPath="com.surelogic.jsure.client.eclipse.workbenchMenu/client"
					helpContextId="menu-clear-drop-sea">
				</action>

        <action
               label="Garbage-collect IR"
               tooltip="Garbage-collect dead IR"
               class="edu.cmu.cs.fluid.eclipse.ui.CleanupIRActionDelegate"
               menubarPath="com.surelogic.jsure.client.eclipse.workbenchMenu/client"
               id="com.surelogic.jsure.client.eclipse.actions.irCleanupAction">
        </action>

		    <action id="com.surelogic.jsure.client.eclipse.view.status"
		     icon="platform:/plugin/com.surelogic.common/src/com/surelogic/common/images/plus.gif"
			   menubarPath="com.surelogic.jsure.client.eclipse.workbenchMenu/client"
			   label="Open Verification Status View"
			   class="com.surelogic.jsure.client.eclipse.actions.ViewStatusAction"
			   definitionId="com.surelogic.jsure.view.client.eclipse.status">
		    </action>	

	    </actionSet>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
     <category
            name="JSure"
            description="Commands for JSure"
            id="com.surelogic.jsure.client.eclipse.actions">
     </category>    
	 	 <command
			name="Verification Status"
			description="Open verification status window"
			categoryId="com.surelogic.jsure.client.eclipse.actions"
			id="com.surelogic.jsure.view.client.eclipse.status">
		 </command>
   </extension>

   <extension
   		   id="dcPopupMenus"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="iprojectContribution"
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true">
         
         <visibility>
            <and>
               <objectState
                     name="nature"
                     value="org.eclipse.jdt.core.javanature"/>
               <objectState
                     name="open"
                     value="true"/>
            </and>
         </visibility>
         
         <menu
               id="jSureMenu"
               label="%popupMenu.jsure.label">
            <groupMarker name="nature.grp"/>
         </menu>
         
         <action
               id="edu.cmu.cs.fluid.dc.oc.addNature"
               label="%addNature.label"
               tooltip="%addNature.toolTip"
               menubarPath="jSureMenu/nature.grp"
               class="edu.cmu.cs.fluid.dc.AddFluidNatureAction"
               enablesFor="+">
            <enablement>
               <not>
                  <objectState
                        name="nature"
                        value="edu.cmu.cs.fluid.dc.dcNature"/>
               </not>
            </enablement>
         </action>
         
         <action
               id="edu.cmu.cs.fluid.dc.oc.removeNature"
               label="%removeNature.label"
               icon="%removeNature.icon"
               tooltip="%removeNature.toolTip"
               menubarPath="jSureMenu/nature.grp"
               class="edu.cmu.cs.fluid.dc.RemoveFluidNatureAction"
               enablesFor="+">
            <enablement>
               <objectState
                     name="nature"
                     value="edu.cmu.cs.fluid.dc.dcNature"/>
            </enablement>
         </action>
         
         <action
               id="edu.cmu.cs.fluid.dc.oc.focusNature"
               label="%focusNature.label"
               icon="%focusNature.icon"
               tooltip="%focusNature.toolTip"
               menubarPath="jSureMenu/nature.grp"
               class="edu.cmu.cs.fluid.dc.FocusFluidNatureAction"
               enablesFor="1">
         </action>
         
         <action
               id="edu.cmu.cs.fluid.dc.oc.analyzeAuto"
               label="%analyzeAuto.label"
               tooltip="%analyzeAuto.toolTip"
               menubarPath="jSureMenu/nature.grp"
               class="edu.cmu.cs.fluid.dc.AnalyzeAutoAction"
               enablesFor="+">
            <enablement>
               <objectState
                     name="nature"
                     value="edu.cmu.cs.fluid.dc.dcNature"/>
            </enablement>
         </action>         
         <action
               id="edu.cmu.cs.fluid.dc.oc.analyzeManual"
               label="%analyzeManual.label"
               tooltip="%analyzeManual.toolTip"
               menubarPath="jSureMenu/nature.grp"
               class="edu.cmu.cs.fluid.dc.AnalyzeManualAction"
               enablesFor="+">
            <enablement>
               <objectState
                     name="nature"
                     value="edu.cmu.cs.fluid.dc.dcNature"/>
            </enablement>
         </action>
             <action
               id="edu.cmu.cs.fluid.dc.oc.analyzeNow"
               label="%analyzeNow.label"
               tooltip="%analyzeNow.toolTip"
               menubarPath="jSureMenu/nature.grp"
               class="edu.cmu.cs.fluid.dc.AnalyzeNowAction"
               enablesFor="+">
            <enablement>
               <objectState
                     name="nature"
                     value="edu.cmu.cs.fluid.dc.dcNature"/>
            </enablement>
         </action>         
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.viewActions"> 
	    <viewContribution
	          id="org.cmu.cs.fluid.dc.projectexplorer.actions" 
   		      targetID="org.eclipse.jdt.ui.PackageExplorer">
         <action
               id="edu.cmu.cs.fluid.dc.va.addNature"
               label="%addNature.label"
               tooltip="%addNature.toolTip"
               menubarPath="additions"
               class="edu.cmu.cs.fluid.dc.AddFluidNatureAction"
               enablesFor="+">
            <enablement>
               <and>
                  <objectClass
                        name="org.eclipse.jdt.core.IJavaProject"/>
                  <not>
                     <objectState
                           name="nature"
                           value="edu.cmu.cs.fluid.dc.dcNature"/>
                  </not>
               </and>
            </enablement>
         </action>

         <action
               id="edu.cmu.cs.fluid.dc.va.focusNature"
               label="%focusNature.label"
               icon="%focusNature.icon"
               tooltip="%focusNature.toolTip"
               toolbarPath="JSure"
               menubarPath="additions"
               class="edu.cmu.cs.fluid.dc.FocusFluidNatureAction"
               enablesFor="1">
            <enablement>
               <objectClass
                     name="org.eclipse.jdt.core.IJavaProject"/>
            </enablement>
         </action>
         
         <action
               id="edu.cmu.cs.fluid.dc.va.removeNature"
               label="%removeNature.label"
               icon="%removeNature.icon"
               tooltip="%removeNature.toolTip"
               toolbarPath="JSure"
               menubarPath="additions"
               class="edu.cmu.cs.fluid.dc.RemoveFluidNatureAction"
               enablesFor="+">
            <enablement>
               <and>
                  <objectClass
                        name="org.eclipse.jdt.core.IJavaProject"/>
                  <objectState
                        name="nature"
                        value="edu.cmu.cs.fluid.dc.dcNature"/>
               </and>
            </enablement>
         </action>
      </viewContribution> 
   </extension>        
</plugin>
