<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.ui.views">
		<category name="JSure Debug" id="com.surelogic.jsure.views.debug"></category>
		<view name="JSure Test Results View"
			category="com.surelogic.jsure.views.debug"
			class="com.surelogic.jsure.views.debug.testResults.TestResultsView"
			id="com.surelogic.jsure.views.debug.testResults.TestResultsView">
		</view>
		<view name="JSure Oracle Diff Results View"
			category="com.surelogic.jsure.views.debug"
			class="com.surelogic.jsure.views.debug.oracleDiff.SnapshotDiffView"
			id="com.surelogic.jsure.views.debug.oracleDiff.SnapshotDiffView">
		</view>
		<view name="JSure Image Cache View"
			category="com.surelogic.jsure.views.debug"
			icon="platform:/plugin/com.surelogic.common/lib/images/jsure_logo.gif"
			class="com.surelogic.jsure.views.debug.imageCache.ImageCacheView"
			id="com.surelogic.jsure.views.debug.imageCache.ImageCacheView">
		</view>
	</extension>

  <extension point="org.eclipse.ui.viewActions">
    <viewContribution id="com.surelogic.jsure.views.debug.viewContributions.ResultsView"
      targetID="com.surelogic.jsure.client.eclipse.views.status.VerificationStatusView">
      <action id="com.surelogic.jsure.views.debug.resultsView.exportToSnapshot"
        label="Export Oracle File"
        tooltip="Export results to a date-stamped oracle file in root of project"
        menubarPath="additions"
        class="com.surelogic.jsure.views.debug.resultsView.actions.ExportToSnapshot">
      </action>
    </viewContribution>      
    <viewContribution id="com.surelogic.jsure.views.debug.viewContributions.ResultsView2"
      targetID="com.surelogic.jsure.views.debug.oracleDiff.SnapshotDiffView">      
      <action id="com.surelogic.jsure.views.debug.resultsView.exportToSnapshot"
        label="Export Oracle File"
        tooltip="Export results to a date-stamped oracle file in root of project"
        menubarPath="additions"
        class="com.surelogic.jsure.views.debug.resultsView.actions.ExportToSnapshot">
      </action>
      <action id="com.surelogic.jsure.views.debug.resultsView.toggleReference"
        label="Toggle Baseline"
        tooltip="Change whether the view uses an oracle or the last scan as a baseline"
        menubarPath="additions"
        class="com.surelogic.jsure.views.debug.oracleDiff.ToggleBaseline">
      </action>
    </viewContribution>
  </extension>   
</plugin>
