<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension id="marker" name="JSure Marker"
		point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>

	<extension point="org.eclipse.ui.editors">
		<editor name="Library Annotation Editor"
			icon="platform:/plugin/com.surelogic.common/lib/images/annotation.gif"
			class="com.surelogic.jsure.client.eclipse.editors.PromisesXMLEditor"
			id="com.surelogic.jsure.client.eclipse.editors.PromisesXMLEditor"
			default="true" extensions="promises.xml"
			matchingStrategy="com.surelogic.jsure.client.eclipse.editors.PromisesXMLEditorMatcher" />
	</extension>

	<!-- we need to do custom matching above since Eclipse can't match against 
		all of '.promises.xml' -->

	<extension point="org.eclipse.ui.elementFactories">
		<factory
			id="com.surelogic.jsure.client.eclipse.editors.PromisesXMLFactory"
			class="com.surelogic.jsure.client.eclipse.editors.PromisesXMLFactory" />
	</extension>

	<extension id="editorPopupMenus" point="org.eclipse.ui.popupMenus">
		<viewerContribution
			id="com.surelogic.jsure.client.eclipse.JSureJavaEditorPopup"
			targetID="#CompilationUnitEditorContext">
			<menu id="com.surelogic.jsure.client.eclipse.JSureJavaEditorPopup.menu"
				label="JSure"
				path="additions">
				<groupMarker name="content">
				</groupMarker>
				<separator name="additions">
				</separator>
			</menu>
			<action
				class="com.surelogic.jsure.client.eclipse.actions.ShowAnnotationsAction"
				id="com.surelogic.jsure.client.eclipse.JSureJavaEditorPopup.showAnnotations"
				label="Open Library Annotation Editor"
				icon="platform:/plugin/com.surelogic.common/lib/images/annotation.gif"
				menubarPath="com.surelogic.jsure.client.eclipse.JSureJavaEditorPopup.menu/content">
			</action>
		</viewerContribution>

		<objectContribution adaptable="false"
			id="com.surelogic.jsure.client.eclipse.IMemberPopup" objectClass="org.eclipse.jdt.core.IMember">
			<menu id="com.surelogic.jsure.client.eclipse.IMemberPopup.menu"
				label="JSure" path="additions">
				<groupMarker name="content">
				</groupMarker>
				<separator name="additions">
				</separator>
			</menu>
			<action
				class="com.surelogic.jsure.client.eclipse.actions.ShowAnnotationsForITypeAction"
				id="com.surelogic.jsure.client.eclipse.IMemberPopup.showAnnotations"
				label="Open Library Annotation Editor"
				icon="platform:/plugin/com.surelogic.common/lib/images/annotation.gif"
				menubarPath="com.surelogic.jsure.client.eclipse.IMemberPopup.menu/content">
			</action>
		</objectContribution>

		<objectContribution adaptable="false"
			id="com.surelogic.jsure.client.eclipse.ITypeRootPopup" objectClass="org.eclipse.jdt.core.ITypeRoot">
			<menu id="com.surelogic.jsure.client.eclipse.ITypeRootPopup.menu"
				label="JSure"
				path="additions">
				<groupMarker name="content">
				</groupMarker>
				<separator name="additions">
				</separator>
			</menu>
			<action
				class="com.surelogic.jsure.client.eclipse.actions.ShowAnnotationsForITypeAction"
				id="com.surelogic.jsure.client.eclipse.ITypeRootPopup.showAnnotations"
				label="Open Library Annotation Editor"
				icon="platform:/plugin/com.surelogic.common/lib/images/annotation.gif"
				menubarPath="com.surelogic.jsure.client.eclipse.ITypeRootPopup.menu/content">
			</action>
		</objectContribution>
	</extension>

	<extension point="org.eclipse.ui.editors.templates">
		<include file="lib/templates/default-promises-xml-templates.xml" />
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page name="JSure"
			class="com.surelogic.jsure.client.eclipse.preferences.JSurePreferencePage"
			id="com.surelogic.jsure.client.eclipse.preferences.JSurePreferencePage">
			<keywordReference id="com.surelogic.jsure.client.key1" />
			<keywordReference id="com.surelogic.jsure.client.key2" />
			<keywordReference id="com.surelogic.jsure.client.key3" />
		</page>
		<page name="Verifying Analysis Selection"
			class="com.surelogic.jsure.client.eclipse.preferences.AnalysisSelectionPreferencePage"
			id="com.surelogic.jsure.client.eclipse.preferences.AnalysisSelectionPreferencePage"
			category="com.surelogic.jsure.client.eclipse.preferences.JSurePreferencePage">
			<keywordReference id="com.surelogic.jsure.client.key1" />
			<keywordReference id="com.surelogic.jsure.client.key2" />
			<keywordReference id="com.surelogic.jsure.client.key3" />

		</page>
		<page name="Uninteresting Package Filtering"
			class="com.surelogic.jsure.client.eclipse.preferences.UninterestingPackageFilterPreferencePage"
			id="com.surelogic.jsure.client.eclipse.preferences.UninterestingPackageFilterPreferencePage"
			category="com.surelogic.jsure.client.eclipse.preferences.JSurePreferencePage">
			<keywordReference id="com.surelogic.jsure.client.key1" />
			<keywordReference id="com.surelogic.jsure.client.key2" />
			<keywordReference id="com.surelogic.jsure.client.key3" />

		</page>
		<page name="Flashlight Generated Lock Models"
			class="com.surelogic.jsure.client.eclipse.preferences.ModelNamingPreferencePage"
			id="com.surelogic.jsure.client.eclipse.preferences.ModelNamingPreferencePage"
			category="com.surelogic.jsure.client.eclipse.preferences.JSurePreferencePage">
			<keywordReference id="com.surelogic.jsure.client.key1" />
			<keywordReference id="com.surelogic.jsure.client.key2" />
			<keywordReference id="com.surelogic.jsure.client.key3" />

		</page>
	</extension>

	<extension point="org.eclipse.ui.keywords">
		<keyword label="JSure" id="com.surelogic.jsure.client.key1" />
		<keyword label="Scan" id="com.surelogic.jsure.client.key2" />
		<keyword label="Analysis" id="com.surelogic.jsure.client.key3" />
	</extension>

	<extension point="org.eclipse.ui.views">
		<category name="JSure" id="com.surelogic.jsure"></category>

		<view name="JSure Scans" allowMultiple="false" category="com.surelogic.jsure"
			class="com.surelogic.jsure.client.eclipse.views.scans.ScanManagerView"
			icon="platform:/plugin/com.surelogic.common/lib/images/jsure_drum.gif"
			id="com.surelogic.jsure.client.eclipse.views.scans.ScanManagerView">
		</view>
		
		<view name="Verification Status" allowMultiple="false"
			icon="platform:/plugin/com.surelogic.common/lib/images/jsure_logo.gif"
			category="com.surelogic.jsure"
			class="com.surelogic.jsure.client.eclipse.views.status.VerificationStatusView"
			id="com.surelogic.jsure.client.eclipse.views.status.VerificationStatusView">
		</view>
		
		<view name="Verification Explorer" allowMultiple="false"
			icon="platform:/plugin/com.surelogic.common/lib/images/jsure_explorer.gif"
			category="com.surelogic.jsure"
			class="com.surelogic.jsure.client.eclipse.views.explorer.VerificationExplorerView"
			id="com.surelogic.jsure.client.eclipse.views.explorer.VerificationExplorerView">
		</view>

		<view name="JSure Quick Search" allowMultiple="false"
			category="com.surelogic.jsure" class="com.surelogic.jsure.client.eclipse.views.finder.FinderView"
			id="com.surelogic.jsure.client.eclipse.views.finder.FinderView"
			icon="platform:/plugin/com.surelogic.common/lib/images/jsure_finder.gif">
		</view>

		<view name="JSure Historical Source Snapshot" allowMultiple="false"
			category="com.surelogic.jsure"
			class="com.surelogic.jsure.client.eclipse.views.source.HistoricalSourceView"
			icon="platform:/plugin/com.surelogic.common/lib/images/jsure_comp_unit.gif"
			id="com.surelogic.jsure.client.eclipse.views.source.HistoricalSourceView">
		</view>

		<view name="Modeling Problems" allowMultiple="false"
			icon="platform:/plugin/com.surelogic.common/lib/images/jsure_model_problems.gif"
			category="com.surelogic.jsure"
			class="com.surelogic.jsure.client.eclipse.views.problems.ProblemsView"
			id="com.surelogic.jsure.client.eclipse.views.problems.ProblemsView">
		</view>
		
		<view name="Proposed Annotations" allowMultiple="false"
			icon="platform:/plugin/com.surelogic.common/lib/images/annotation_proposed.gif"
			category="com.surelogic.jsure"
			class="com.surelogic.jsure.client.eclipse.views.proposals.ProposedAnnotationView"
			id="com.surelogic.jsure.client.eclipse.views.proposals.ProposedAnnotationView">
		</view>
		
		<view name="Analysis-Enabled Metrics" allowMultiple="false"
			icon="platform:/plugin/com.surelogic.common/lib/images/jsure_metrics.gif"
			category="com.surelogic.jsure"
			class="com.surelogic.jsure.client.eclipse.views.metrics.ScanMetricsView"
			id="com.surelogic.jsure.client.eclipse.views.metrics.ScanMetricsView">
		</view>
	</extension>

	<!-- JSure perspective links and Java perspective links -->

	<extension point="org.eclipse.ui.perspectives">
		<perspective name="Code Verification"
			icon="platform:/plugin/com.surelogic.common/lib/images/jsure_logo.gif"
			class="com.surelogic.jsure.client.eclipse.perspectives.CodeVerificationPerspective"
			id="com.surelogic.jsure.client.eclipse.perspectives.CodeVerificationPerspective">
		</perspective>
	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="com.surelogic.jsure.client.eclipse.perspectives.CodeVerificationPerspective">
			<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective">
			</perspectiveShortcut>
		</perspectiveExtension>
	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<perspectiveShortcut
				id="com.surelogic.jsure.client.eclipse.perspectives.CodeVerificationPerspective">
			</perspectiveShortcut>
		</perspectiveExtension>
	</extension>

	<!-- What is this? -->

	<extension point="org.eclipse.ui.editors.templates">
		<contextType name="JSure Java Context"
			class="org.eclipse.jdt.internal.corext.template.java.JavaContextType"
			id="java" />
		<include file="lib/templates/default-jsure-java5-templates.xml" />
	</extension>

	<!-- JSure main menu and project context menu -->

	<extension point="org.eclipse.ui.commands">
		<category description="Commands related to the JSure tool"
			id="com.surelogic.jsure.client.eclipse.commands" name="JSure">
		</category>

		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.VerifyProject" name="Verify">
		</command>
		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.AddUpdatePromisesLibrary"
			name="Add/Update Promises Library">
		</command>
		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.FindXMLForType" name="Open Library Annotations...">
		</command>
		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.OpenCodeVerificationPerspective"
			name="Open Code Verification Perspective">
		</command>
		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.ImportScan" name="Import Ant/Maven Scan...">
		</command>
		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.SavePromisesLibraryAs"
			name="Save Promises Library As...">
		</command>
		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.SaveHtmlDocs"
			name="Save Documentation As...">
		</command>
		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.ImportTutorialProjects"
			name="Install Tutorial Projects">
		</command>
		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.SendTip" name="Send Tip for Improvement">
		</command>
		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.SendProblem" name="Send Problem Report">
		</command>
		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.SendLibraryAnnotationChanges"
			name="Send Library Annotation Changes">
		</command>
		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.ManageLicenses" name="Manage SureLogic Licenses">
		</command>
	</extension>

	<extension point="org.eclipse.ui.menus">

		<!-- Eclipse main menu -->

		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
			<menu id="com.surelogic.jsure.client.eclipse.menu.jsure" label="JSure"
				mnemonic="J">
				<command commandId="com.surelogic.jsure.client.eclipse.command.VerifyProject"
					icon="platform:/plugin/com.surelogic.common/lib/images/jsure_verify.gif"
					mnemonic="V" style="push">
				</command>
				<command
					commandId="com.surelogic.jsure.client.eclipse.command.AddUpdatePromisesLibrary"
					icon="platform:/plugin/com.surelogic.common/lib/images/jar.gif"
					mnemonic="A" style="push">
				</command>
				<command commandId="com.surelogic.jsure.client.eclipse.command.FindXMLForType"
					icon="platform:/plugin/com.surelogic.common/lib/images/open_xml_type.gif"
					mnemonic="L" style="push">
				</command>
				<command
					commandId="com.surelogic.jsure.client.eclipse.command.OpenCodeVerificationPerspective"
					icon="platform:/plugin/com.surelogic.common/lib/images/jsure_logo.gif"
					mnemonic="O" style="push">
				</command>
				<separator name="com.surelogic.jsure.separator.main0"
					visible="true">
				</separator>
				<command commandId="com.surelogic.jsure.client.eclipse.command.ImportScan"
					icon="platform:/plugin/com.surelogic.common/lib/images/file_drum.gif"
					mnemonic="V" style="push">
				</command>
				<command
					commandId="com.surelogic.jsure.client.eclipse.command.SavePromisesLibraryAs"
					icon="platform:/plugin/com.surelogic.common/lib/images/jar_saveas.gif"
					mnemonic="S" style="push">
				</command>
				<command
					commandId="com.surelogic.jsure.client.eclipse.command.SaveHtmlDocs"
					icon="platform:/plugin/com.surelogic.common/lib/images/file_saveas.gif"
					style="push">
				</command>
				<command
					commandId="com.surelogic.jsure.client.eclipse.command.ImportTutorialProjects"
					icon="platform:/plugin/com.surelogic.common/lib/images/import.gif"
					style="push">
				</command>
				<separator name="com.surelogic.jsure.separator.main1"
					visible="true">
				</separator>
				<command commandId="com.surelogic.jsure.client.eclipse.command.SendTip"
					style="push">
				</command>
				<command commandId="com.surelogic.jsure.client.eclipse.command.SendProblem"
					style="push">
				</command>
				<command
					commandId="com.surelogic.jsure.client.eclipse.command.SendLibraryAnnotationChanges"
					style="push">
				</command>
				<separator name="com.surelogic.jsure.separator.main2"
					visible="true">
				</separator>
				<command commandId="com.surelogic.jsure.client.eclipse.command.ManageLicenses"
				    icon="platform:/plugin/com.surelogic.common/lib/images/sl.gif"
					style="push">
				</command>
			</menu>
		</menuContribution>

		<!-- Eclipse toolbar -->

		<menuContribution
			locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
			<toolbar id="com.surelogic.jsure.client.eclipse.toolbar.jsure"
				label="JSure">
				<command commandId="com.surelogic.jsure.client.eclipse.command.VerifyProject"
					icon="platform:/plugin/com.surelogic.common/lib/images/jsure_verify.gif"
					tooltip="Scan projects with the JSure verification tool" style="push">
				</command>
			</toolbar>
		</menuContribution>

		<!-- IProject context menu -->

		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<menu label="JSure">
				<command commandId="com.surelogic.jsure.client.eclipse.command.VerifyProject"
					icon="platform:/plugin/com.surelogic.common/lib/images/jsure_verify.gif"
					mnemonic="V" style="push">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<iterate>
								<adapt type="org.eclipse.core.resources.IProject" />
							</iterate>
						</with>
					</visibleWhen>
				</command>
				<command
					commandId="com.surelogic.jsure.client.eclipse.command.AddUpdatePromisesLibrary"
					icon="platform:/plugin/com.surelogic.common/lib/images/jar.gif"
					mnemonic="V" style="push">
					<visibleWhen>
						<with variable="activeMenuSelection">
							<iterate>
								<adapt type="org.eclipse.core.resources.IProject" />
							</iterate>
						</with>
					</visibleWhen>
				</command>
			</menu>
		</menuContribution>
	</extension>

	<extension point="org.eclipse.ui.handlers">
		<handler
			class="com.surelogic.jsure.client.eclipse.handlers.VerifyProjectHandler"
			commandId="com.surelogic.jsure.client.eclipse.command.VerifyProject">
		</handler>
		<handler
			class="com.surelogic.jsure.client.eclipse.handlers.AddUpdatePromisesLibraryHandler"
			commandId="com.surelogic.jsure.client.eclipse.command.AddUpdatePromisesLibrary">
		</handler>
		<handler
			class="com.surelogic.jsure.client.eclipse.handlers.FindXMLForTypeHandler"
			commandId="com.surelogic.jsure.client.eclipse.command.FindXMLForType">
		</handler>
		<handler
			class="com.surelogic.jsure.client.eclipse.handlers.OpenCodeVerificationPerspectiveHandler"
			commandId="com.surelogic.jsure.client.eclipse.command.OpenCodeVerificationPerspective">
		</handler>
		<handler
			class="com.surelogic.jsure.client.eclipse.handlers.ImportScanHandler"
			commandId="com.surelogic.jsure.client.eclipse.command.ImportScan">
		</handler>
		<handler
			class="com.surelogic.jsure.client.eclipse.handlers.SavePromisesLibraryAsHandler"
			commandId="com.surelogic.jsure.client.eclipse.command.SavePromisesLibraryAs">
		</handler>
	    <handler
			class="com.surelogic.jsure.client.eclipse.handlers.SaveHtmlDocsHandler"
			commandId="com.surelogic.jsure.client.eclipse.command.SaveHtmlDocs">
		</handler>
		<handler
			class="com.surelogic.jsure.client.eclipse.handlers.ImportTutorialProjectsHandler"
			commandId="com.surelogic.jsure.client.eclipse.command.ImportTutorialProjects">
		</handler>
		<handler class="com.surelogic.jsure.client.eclipse.handlers.SendTipHandler"
			commandId="com.surelogic.jsure.client.eclipse.command.SendTip">
		</handler>
		<handler
			class="com.surelogic.jsure.client.eclipse.handlers.SendProblemHandler"
			commandId="com.surelogic.jsure.client.eclipse.command.SendProblem">
		</handler>
		<handler
			class="com.surelogic.jsure.client.eclipse.handlers.SendLibraryAnnotationHandler"
			commandId="com.surelogic.jsure.client.eclipse.command.SendLibraryAnnotationChanges">
		</handler>
		<handler
			class="com.surelogic.jsure.client.eclipse.handlers.ManageLicensesHandler"
			commandId="com.surelogic.jsure.client.eclipse.command.ManageLicenses">
		</handler>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<key sequence="Ctrl+Alt+Shift+V"
			commandId="com.surelogic.jsure.client.eclipse.command.VerifyProject"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
	</extension>


	<!-- Library Annotation Explorer view -->

	<extension point="org.eclipse.ui.views">
		<view name="Library Annotation Explorer" allowMultiple="false"
			category="com.surelogic.jsure"
			class="com.surelogic.jsure.client.eclipse.views.xml.XMLExplorerView"
			icon="platform:/plugin/com.surelogic.common/lib/images/annotation.gif"
			id="com.surelogic.jsure.client.eclipse.views.xml.XMLExplorerView">
		</view>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.XMLExplorerView.collapseAll"
			name="Collapse All">
		</command>
		<command categoryId="com.surelogic.jsure.client.eclipse.commands"
			id="com.surelogic.jsure.client.eclipse.command.XMLExplorerView.toggleShowDiffs"
			name="Show Only User-Added/Modified Library Annotations">
			<state class="org.eclipse.jface.commands.ToggleState"
				id="com.surelogic.jsure.client.eclipse.command.XMLExplorerView.toggleShowDiffs.state" />
		</command>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="toolbar:com.surelogic.jsure.client.eclipse.views.xml.XMLExplorerView">
			<command
				commandId="com.surelogic.jsure.client.eclipse.command.XMLExplorerView.collapseAll"
				icon="platform:/plugin/com.surelogic.common/lib/images/collapse_all.gif"
				style="push" tooltip="Collapse All">
			</command>
			<separator name="com.surelogic.jsure.separator.XMLExplorerView.toolbar"
				visible="true">
			</separator>
			<command
				commandId="com.surelogic.jsure.client.eclipse.command.XMLExplorerView.toggleShowDiffs"
				icon="platform:/plugin/com.surelogic.common/lib/images/annotation_delta.gif"
				style="toggle" tooltip="Show only user-added/modified library annotations">
			</command>
			<command commandId="com.surelogic.jsure.client.eclipse.command.FindXMLForType"
				icon="platform:/plugin/com.surelogic.common/lib/images/open_xml_type.gif"
				style="push" tooltip="Open the library annotations for a type">
			</command>
		</menuContribution>
		<menuContribution
			locationURI="menu:com.surelogic.jsure.client.eclipse.views.xml.XMLExplorerView">
			<command
				commandId="com.surelogic.jsure.client.eclipse.command.XMLExplorerView.collapseAll"
				icon="platform:/plugin/com.surelogic.common/lib/images/collapse_all.gif"
				style="push">
			</command>
			<separator name="com.surelogic.jsure.separator.XMLExplorerView.menu"
				visible="true">
			</separator>
			<command
				commandId="com.surelogic.jsure.client.eclipse.command.XMLExplorerView.toggleShowDiffs"
				icon="platform:/plugin/com.surelogic.common/lib/images/annotation_delta.gif"
				style="toggle">
			</command>
			<command commandId="com.surelogic.jsure.client.eclipse.command.FindXMLForType"
				icon="platform:/plugin/com.surelogic.common/lib/images/open_xml_type.gif"
				style="push">
			</command>
		</menuContribution>
	</extension>
</plugin>
